<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">TranziteRO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('homepage') }}">Acasă</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('available_trips') }}">Curse Disponibile</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('my_trips') }}">Biletele Mele</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('add_trip') }}">Adaugă Cursă</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('logout') }}">Validează Bilet</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('logout') }}">Delogare</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login') }}">Autentificare</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('register') }}">Înregistrare</a>  {# Changed from 'app_register' to 'register' #}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>